*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 300vh;
    background-color: #0d1422;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0d1422;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo a{
    color: white;
    text-decoration: none;
    margin-left: 40px;
}

.logo h1{
    color: white;
    margin-left: 20px;
}

.sign {
    background-color: #0d1422;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 900;
}
.buy {
    background-color: white;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0d1422;
    font-weight: 900;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
}
.main{
    width: 100%;
    height: 500px;
    background-image: url(/Media/humankind.webp);
    background-size: cover;
    position: relative;
}

.oceania{
    width: 300px;
    position: absolute;
    left: 38%;
    top: 20%;
}

.main button:hover{
    background-color: white;
    color: #0d1422;
}

.main button{
    width: 200px;
    height: 50px;
    position: absolute;
    left: 42%;
    top: 70%;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0);
}

.hr{
    background-color: white;
    height: 10px;
}


