* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #201313;
}

header {
    background-color: #201313;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

header img {
    width: 15%;
}

header a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

header button, main button {
    background-color: red;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 50px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

.menu {
    width: 25px;
    display: none;
}

main {
    display: flex;
    color: white;
    justify-content: space-between;
    margin-bottom: 20px;
}

main div {
    margin-top: 100px;
    margin-left: 12%;
    width: 40%;
}

main h1 {
    font-size: 55px;
    margin-bottom: 20px;
}
main p {
    font-size: 20px;
    margin-bottom: 20px;
}
.hero-left {
    width: 30%;
    position: absolute;
}

.hero-right {
    width: 40%;
}

.featured {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    margin: 20px 20px;
}

video {
    width: 100%;
}


.havard {
    background-color: white;
    padding: 10px;
    width: 130px;
    position: absolute;
    right: 50px;
    margin-top: -50px;
}

.section1 {
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.product p {
    border: 2px solid #29d1b8;
    padding: 5px 15px;
    border-radius: 25px;
    color: #29d1b8;
}

.review a {
    color: #ffe7a3;
    margin-top: 20px;
}

.review {
    width: 500px;
}


.divs {
    height: 250px;
    width: 250px;
    background-color: #2f1d1c;
    position: absolute;
    border-radius: 50%;
    margin: -50px;
}
.profile {
    width: 500px;
    margin-top: 50px;
}
.profile p {
    position: relative;
    z-index: 1;
}

.ux {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: 20px;
}

.ux img {
    border-radius: 50%;
    width: 50px;
}






@media (max-width: 768px) {
    header nav{
        display: none;
    }

    header button {
        display: none;
    }
    .menu {
        display: block;
    }

    main div {
        width: 70%;
    }
    main {
        flex-wrap: wrap;    
    }
    .hero-left {
        display: none;
    }
    .hero-right {
        width: 100%;
    }
    main h1 {
        font-size: 40px;
    }
    
    main p {
        font-size: 16px;
    }
}

@media (max-width: 426px) {
    .right {
        width: 40%;
    }
    .left {
        width: 5%;
    }
    
    video {
        margin-top: 50px;
    }

    .havard {
        margin-top: 0;
    }
}