* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(media/humankind.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

nav{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #0d1422; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    display: flex;
    gap: 30px;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 15px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #cfd0d3;
    font-weight: bold;
}

.banner{
    font-size: 40px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #cfd0d3;
}

.signup {
    background-color: #0d1422;
    color: #cfd0d3;
}

.signup:hover{
    color: black;
}

button {
    padding: 12px;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    outline: none;
    font-weight: bolder;
    background-color: #cfd0d3;
    padding-right: 20px;
}

button:hover {
    background-color: white;
}

main {
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
}

.poscon {
    display: flex;
    align-items: center;
    justify-content: center;

}

.poster {
    width: 300px;
}

.buy {
    margin-top: 20px;
    text-align: center;
}

.now {
    background-color: transparent;
    border: 1px solid white;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    padding-right: 80px;
}

.now:hover {
    background-color: white;
    color: black;
}

section {
    margin-top: 200px;
    background-color: #0d1422;
    border-top: 50px solid white;
    color: white;
    padding: 50px;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.mantext {
    display: block;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.videoflex {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.videoflex div {
    width: 200px;
}

video {
    width: 200px;
    border-radius: 15px;;
}

.sectwo {
    background-image: url(media/HKD_ARRAY_COLLECTION_EPIC_DIGITAL_EN.jpg);
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
    margin-top: 0;
}

.sectext {
    font-size: 40px;
    margin-bottom: 20px;
}

ul{
    list-style-type: none;
    line-height: 25px;
}

.blunbun {
    margin-top: 10px;
    width: 200px;
    height: 50px;
    background: #0d1422;
    color: white;
    font-size: 15px;
}

.blunbun:hover {
    background: transparent;
    color: black;
    border: 2px solid black;
}

.sectree {
    background-position: url(media/partner-program.png);
    background-color: #272634;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
}

.program {
    font-size: 40px;
    margin-bottom: 10px;
}

.lastborn {
    width: 200px;
    height: 70px;
    font-size: 20px;
}

.lastborn:hover {
    background: transparent;
    border: 2px solid white;
    color: white;
}

.media {
    background-color: #0d1422;
    color: white;
    border-top: 2px solid white;
    padding: 10px;
}

.mediabut {
    display: flex;
    justify-content: end;
    gap: 8px;
    width: 970px;
}

.mbu {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px;
}

.mbu:hover {
    color: black;
}

img {
    width: 200px;
}

.mediagrid {
    display: grid;
    gap: 6px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 80px;

}

.mediagrid img {
    width: 100%;
}

.pic1 {
    grid-column: 1/3;
    grid-row: 1/3;
}

.pic2 {
    grid-column: span 2;
    grid-row: span 2;
}

.sec2 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
    background-image: url(media/image.jpg);
    align-items: center;
}

.carousel {
  color: white;
  background-position: center;
  background-size: cover;
  padding: 12px;
  height: 300px;
  text-align: center;
  font-size: bold;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  background-image: url(WhatsApp\ Image\ 2025-11-03\ at\ 05.42.46_7b4ccc66.jpg);
}

.carousel div {
    animation: float 12s infinite 2s;
    position: absolute;
    opacity: 0;
}

@keyframes float {
    0% {
        opacity: 0;
    }
      15% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.carousel div:nth-child(1) {
    animation-delay: 2s;
}

.carousel div:nth-child(2) {
    animation-delay: 4s;
}

.carousel div:nth-child(3) {
    animation-delay: 6s;
}

.games {
  background-image: url(media/images55.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.games img {
  width: 300px;
  display: flexbox;
  margin: 0 auto 20px;
}

.gameb p {
  font-size: 20px;
  font-weight: bold;
}

.gameb button {
  padding: 12px 25px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}


















