* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #201313;
}

header {
    background-color: #201313;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

header img {
    width: 15%;
}

header a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

header button, main button {
    background-color: red;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 50px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

.menu {
    width: 25px;
    display: none;
}

main {
    display: flex;
    color: white;
    justify-content: space-between;
    margin-bottom: 20px;
}

main div {
    margin-top: 100px;
    margin-left: 12%;
    width: 40%;
}

main h1 {
    font-size: 55px;
    margin-bottom: 20px;
}
main p {
    font-size: 20px;
    margin-bottom: 20px;
}
.hero-left {
    width: 30%;
    position: absolute;
}

.hero-right {
    width: 40%;
}

.featured {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    margin: 20px 20px;
}

video {
    width: 100%;
}


.havard {
    background-color: white;
    padding: 10px;
    width: 130px;
    position: absolute;
    right: 50px;
    margin-top: -50px;
}

.section1 {
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.product p {
    border: 2px solid #29d1b8;
    padding: 5px 15px;
    border-radius: 25px;
    color: #29d1b8;
}

.review a {
  color: #ffe7a3;
    margin-top: 20px;
}

.review {
    width: 500px;
}


.divs {
    height: 250px;
    width: 250px;
    background-color: #2f1d1c;
    position: absolute;
    border-radius: 50%;
    margin: -50px;
}
.profile {
    width: 500px;
    margin-top: 50px;
}
.profile p {
    position: relative;
    z-index: 1;
}

.ux {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: 20px;
}

.ux img {
    border-radius: 50%;
    width: 50px;
}


.section2 {
  padding: 80px 10%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}


.services {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 60px;
}


.left {
  flex: 1 1 55%;
}

.left h2 {
  font-size: 25px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.left h3 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.3;
}

.left p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 25px;
}

.left a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  display: inline-block;
}

.left a:: {
  transition: margin-left 0.3s;
  color: #ffe7a3;
}

.left a:hover {
  margin-top: 55px;
  color: #ffe7a3;
}

.stages {
  flex: 1 1 35%;
}

.stages h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.stages ul {
  list-style: none;
  padding: 0;
}

.stages li {
  margin-bottom: 15px;
  font-size: 26px;
}

.stages li {
  margin-right: 8px;
}

.section-clients {
  padding: 20px 10%;
  color: white;
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
  gap: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.text-side {
  flex: 40px;
}

.text-side h2 {
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.text-side h3 {
  font-size: 32px;
  margin-bottom: 22px;
}

.text-side p {
  font-size: 16px;
  line-height: 1.6;
}


.logo-grid {
  flex: 1 1 55%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1px;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
}

.logo-grid img {
  max-width: 130px;
  width: 100%;
  height: auto;
  opacity: 0.85;
}

.logo-grid img:hover {
  filter: none;
  opacity: 1;
}

.section-ai {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 68px;
  padding: 100px 10%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.ai-image {
  flex: 1 1 45%;
}

.ai-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.ai-text {
  flex: 1 1 50%;
}

.ai-text h2 {
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.ai-text h3 {
  font-size: 40px;
  margin-bottom: 30px;
}

.ai-text p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 25px;
}

.ai-text a {
  text-decoration: none;
  font-size: 19px;
}

.ai-text a:hover {
  text-decoration: underline;
  color: #ffe7a3; 
}


.section-success {
  padding: 80px 10%;
  background-color:#201313;
  color: white;
  font-size: 18px;
}

.positive {
  align-items: flex-start;
  margin-bottom: 50px;
}

.positive h1 {
  font-size: 14px;
  color: white;
  margin-bottom: 15px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}

.positive p {
  font-size: 42px;
  color: white;
  line-height: 1.6;
  font-weight: 650;
}

.success-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}


.case {
  border-radius: 20px;
  color: white;
  transition: transform 0.3s ease;
}

.case:hover {
  transform: translateY(-8px);
}

.case img {
  width: 100%;
  height: 220px;
}

.case-text {
  padding: 15px;
}

.case-text p {
  font-size: 15px; 
}

.section-collaborative {
  background-color: #2f1c1c;
  padding: 100px 10%;
  align-items: flex-start;
}

.section-collaborative p {
  font-size: 1.5rem;
  line-height: 1.7;
  color: white;
  max-width: 800px;
  margin: 0 auto 40px;
  font-style:normal;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.product img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.read-case {
  display: inline-block;
  color: #ffe7a3;
  text-decoration: none;
  font-weight: 600;
}

.read-case:hover {
  text-decoration: underline;
}

.section-teams {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 68px;
  padding: 100px 10%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.teams-image {
  flex: 1 1 45%;
}

.teams-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.teams-text {
  flex: 1 1 50%;
}

.teams-text h2 {
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.teams-text h1  {
  font-size: 45px;
  margin-bottom: 30px;
}

.teams-text p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 25px;
}  

teams-text a {
  text-decoration: none;
  font-size: 19px;
}

.teams-text a:hover {
  text-decoration: underline;
  color: #ffe7a3;
}

.section-resources {
  background-color: #201313; 
  color:white;
  padding: 6rem 2rem;
}

.section-resources .container {
  max-width: 1100px;
  margin: 0 auto;
}

.section-resources h2 {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
  color: white;
  text-align: left;
  letter-spacing: 1px;
}

.section-resources .intro {
  font-size: 1.05rem;
  margin-bottom: 3.5rem;
  text-align: left;
  max-width: 420px;
  line-height: 1.6;
}


.resources-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem 2rem;
}


.resource h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.resource p {
  color: white;
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.resource a {
  color:#ffe7a3; 
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-color 0.25s ease, color 0.25s ease;
}

.resource a:hover {
  border-color: #ffe7a3;
}

.section-project {
  background-color: #3e194b;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem 6rem;
}

.section-project .container {
  max-width: 890px;
  margin: 0 auto;
}

.section-project h1 {
  font-size: 2.5rem;
  font-weight: 550;
  line-height: 1.2;
}

.section-project a {
  display: inline-block;
  font-weight: 200;
  color: white;
  text-decoration: none;
  border: 2px solid;
  padding: 0.9rem 2.2rem;
}

.section-project a:hover {
  background-color: #3e194b;
  text-decoration: underline;
}

















@media (max-width: 900px) {
  .resources-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .resources-grid {
    grid-template-columns: 1fr;
  }

  .section-resources h2,
  .section-resources .intro {
    text-align: center;
  }
}

 
 














@media (max-width: 768px) {
    header nav{
        display: none;
    }

    header button {
        display: none;
    }
    .menu {
        display: block;
    }

    main div {
        width: 70%;
    }
    main {
        flex-wrap: wrap;    
    }
    .hero-left {
        display: none;
    }
    .hero-right {
        width: 100%;
    }
    main h1 {
        font-size: 40px;
    }
    
    main p {
        font-size: 16px;
    }
}

@media (max-width: 426px) {
    .right {
        width: 40%;
    }
    .left {
        width: 5%;
    }
    
    video {
        margin-top: 50px;
    }

    .havard {
        margin-top: 0;
    }
}