*{
    margin: o;
    padding: o;
}
.container{
    width: 800px;
    height: 500px;
    position: relative;
}

.header{
      text-align: center;

}
.globe{
    position: absolute;
    top: 200px;
    left: 60%;
    width: 250px;
}
.english{
    
    position: absolute;
    top: 20%;
    left: 45%;
    text-align: center;
}
.Русский{
      position: relative;
      top: 38%;
      text-align: center;
      right: 2%;
}
.Français{
      position: relative;
      top: 38%;
      text-align: center;
      right: 1%;
}
.中文{
    position: relative;
    top: 38%;
    text-align: center;
    right: 0%;
}
.Polski{
    position: relative;
    top: 38%;
    text-align: justify;
    left: 50%;
}
.日本語{
    position: absolute;
    top: 20%;
    text-align: center;
    right: 0;
}
.Deutsch{
    position: absolute ;
    top: 35%;
    text-align: center;
    right: -60px;
}
.Español{
    position: absolute;
    top: 250px;
    right: -80px;
    text-align: center;
} 
.italiano{
    position: absolute;
    top: 320px;
    right: -50px;
    text-align: center;
}
.Português{
    position: absolute;
    top: 380px; 
    right:-40px ;
    text-align: center;
}

